/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */



body {
    color: #BDFF59;
    background-color: darkcyan;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    font-family: arial, sans-serif;
    font-size: 14px;

}


a:link, a:active, a:visited {
    color: #6A5ACD;
}



/*Table CSS*/
table{width: 50%;margin: 0 auto;}

br {padding:0; margin:0}

hr{margin:0px ;padding:0}

img{padding:0; margin: 0;}

table.gradienttable {
    font-family: verdana,arial,sans-serif;
    font-size:10px;
    color:#333333;
    border-width: 1px;
    border-color: #999999;
    /*border-collapse: collapse;*/
}
table.gradienttable th {
    padding: 0px;
    background: #d5e3e4;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Q1ZTNlNCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQwJSIgc3RvcC1jb2xvcj0iI2NjZGVlMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNiM2M4Y2MiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #d5e3e4 0%, #ccdee0 40%, #b3c8cc 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d5e3e4), color-stop(40%,#ccdee0), color-stop(100%,#b3c8cc));
    background: -webkit-linear-gradient(top,  #d5e3e4 0%,#ccdee0 40%,#b3c8cc 100%);
    background: -o-linear-gradient(top,  #d5e3e4 0%,#ccdee0 40%,#b3c8cc 100%);
    background: -ms-linear-gradient(top,  #d5e3e4 0%,#ccdee0 40%,#b3c8cc 100%);
    background: linear-gradient(to bottom,  #d5e3e4 0%,#ccdee0 40%,#b3c8cc 100%);
    border: 1px solid #999999;
}
table.gradienttable td {
    padding: 0px;
    margin: 0;
    background: -moz-linear-gradient(top, #fefefd 0%, #dce3c4 42%, #aebf76 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fefefd), color-stop(42%,#dce3c4), color-stop(100%,#aebf76)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #fefefd 0%,#dce3c4 42%,#aebf76 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #fefefd 0%,#dce3c4 42%,#aebf76 100%); /* Opera 11.10+ */

    border: 1px solid #999999;
    -webkit-box-shadow: 0px 1px 5px 3px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 1px 5px 3px rgba(0,0,0,0.75);
    box-shadow: 0px 1px 5px 3px rgba(0,0,0,0.75);
}
table.gradienttable th p{
    margin:0px;
    padding:8px;
    border-top: 1px solid #eefafc;
    border-bottom:0px;
    border-left: 1px solid #eefafc;
    border-right:0px;
}
table.gradienttable td p{
    margin:0px;

    border-top: 1px solid #fcfdec;
    border-bottom:0px;
    border-left: 1px solid #fcfdec;;
    border-right:0px;
}

summary::-webkit-details-marker {
    display: none;
}
summary:before {
    content:"▼"
}
div.close summary:before {
    content:"►"
}
summary:before, summary:after {
    font-size:.8em;
    margin-right:6px;
}

#float{float:left; text-align:left}

#wrap p{overflow-y: scroll; max-height: 250px}

#container {margin: 0 auto; text-align: center}

#close{text-align: left}

#comment{text-align: right; padding-left: 2px}

#close3{text-align: left; margin-right: 0}